.section {
  width: 100%;
  &.is-show {
    .section-content {
      opacity: 1;
    }
  }
}
.section-content {
  max-width: 300px;
  margin: 0 auto;
  padding: 40px 60px;
  text-align: center;
  opacity: 0;
  transition: opacity .5s ease .75s;
}

h2 {
  color: #232323;
  &:first-child {
    margin-top: 0;
  }
}

h3 {
  color: #232323;
}

p {
  color: #232323;
}

.section-red {
  background-color: #ff6363;
}

.section-blue {
  background-color: #8fbbff;
}

.section-green {
  background-color: #fff;
}



// @import 'bourbon/bourbon';
// @import 'neat/neat';
// @import 'slick';
// @import 'slick-theme';

// body {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//
//     &.main {
//       color: white;
//       padding: 40px;
//
//         &.section-content1 {
//             background-color: yellow;
//         }
//
//         &.section-content2 {
//             background-color: blue;
//         }
//
//         &.section-content3 {
//             background-color: yellow;
//         }
//     }
// }
